<div class="form-group">
	<%= form_tag("/parser", method: 'post', :remote => true, :id => 'form') do %>
      <div class="input-group">
        <%= text_field_tag :q, nil, class: 'form-control mr-sm-2 link-tour', placeholder: 'Например: 25 сентября или ссылка на турнир' %>
  	    <%= text_field_tag :page, nil, class: 'form-control mr-sm-2', placeholder: '#' %>
		<button  id="button" class="btn btn-outline-danger my-2 my-sm-0">Спарсить</button>
	<% end %>
</div>
<div style="padding-top: 10px;"></div>
<input type="button" value="Скопировать таблицу" id='copy_table' class='btn btn-outline-success'>
<div class='clearfix'></div>
<div id="teams_sltv"></div>

