<div class="form-group"> 
	<%= form_tag("/parser_faceit", method: 'post', :remote => true) do %>
		<%= text_field_tag :q, nil, class: 'form-control mr-sm-2', placeholder: "Например: 332f428a-13fc-45d4-9ba2-a166adb0b76c" %>
		<button class="btn btn-outline-danger my-2 my-sm-0">Спарсить</button>
	<% end %>
</div>
<div style="padding-top: 10px;"></div>
<div id="faceit_teams"></div>