<div class="form-group"> 
	<%= form_tag parser_faceit_path do %>
		<%= text_field_tag :q, nil, class: 'form-control mr-sm-2' %>
		<button class="btn btn-outline-danger my-2 my-sm-0">Спарсить</button>
	<% end %>
</div>