<table>
	<thead>
		<tr>
			<td>Team tag</td>
			<td>Nick</td>
			<td>Skype</td>
			<td>Steam</td>
		</tr>	
	<thead>
<% @showings.each do |doc|%>
	<tbody>
		<tr>
			<td><%= link_to doc[:tag],('https://en.wesg.com'+doc[:team_link]) %></td>
			<td><%= link_to doc[:cap_nick],('https://en.wesg.com'+doc[:cap_link]) %></td>
			<td><%= link_to doc[:skype],('https://en.wesg.com'+doc[:cap_link]) %></td>
			<td><%= link_to ('http://steamcommunity.com/profiles/'+doc[:steam]),('http://steamcommunity.com/profiles/'+doc[:steam])  %></td>
		</tr>
	</tbody>
<% end %>
</table>